  language: python
  python:
    - "3.6"
  install:
    - pip install coverage python-coveralls
  script:
    - coverage run ./test_humanhash.py
  after_success:
    - coverage report
    - coveralls
